@model IEnumerable<Rubay.Web.App.Models.CheckStatusResult>

@{
    ViewData["Title"] = "Check Status API";
}

<h1>Check Status API</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApiName</td>
                <td>@item.ApiUrl</td>
                <td>@item.CheckResult</td>
            </tr>
        }
    </tbody>
</table>
